.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid #0b3b2d;
  border-radius: 15px;
  background-color: #fff;
  width: 160px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  cursor: pointer;
  margin-bottom: 8px;
}

.button_text {
  color: #0b3b2d;
  font-size: 1.8rem;
  font-weight: 500;
}

.button_arrow {
  rotate: 180deg;
}
