.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.blackBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.whiteBackground {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeButton {
  background-image: url('/assets/images/close.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.large {
  width: 500px;
  height: 300px;
  background-color: white;
}

.reserveInfo {
  position: absolute;
  bottom: 14px;
  right: 1%;
  width: 429px; /* 모달의 너비 */
  height: 697px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 18px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
