.bestCards {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 16px;
  width: 100%;
}
.bestCards::-webkit-scrollbar {
  display: none;
}


.title {
  font-family: pretendard;
  padding: 16px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
