$black_171717: #171717;
$nomad-black: #121;
$gray_4B4B4B: #4b4b4b;
$gray_79747E: #79747e;
$gray_A4A1AA: #a4a1aa;
$gray_ADAEB8: #adaeb8;
$gray_CBC9CF: #cbc9cf;
$gray_DDDDDD: #ddd;
$gray_EEEEEE: #eee;
$gray_FAFAF: #fafafa;

$primary: #0b3b2d;
$primary_soft: #f1effd;

$red: #ff472e;
$red_soft: #ffe4e0;

$green: #00ac07;

$orange: #ff7c1d;
$orange_soft: #fff4e8;

$yellow: #ffc23d;

$blue: #0085ff;
$blue_vivid: #2eb4ff;
$blue_soft: #e5f3ff;
