#selectContainer {
  position: relative;
}
#selectContainer label {
  position: absolute;
  top: -5px;
  left: 14px;
  background-color: white;
  font-size: 1.4rem;
  color: black;
}

#class {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  height: 48px;
  margin-bottom: 30px;
}
