@import 'react-calendar/dist/Calendar.css';
@import 'src/styles/_variables';

.reservationSection {
  width: 100%;
  padding: 16px;
  background-color: $white;
  border-top: 1px solid $gray_A4A1AA;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 998;

  & Button {
    width: 106px;
    padding: 14px 0 14px 0;
  }
}

.reservationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.priceWrapper {
  display: flex;
  align-items: center;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.per {
  font-size: 1.8rem;
  line-height: 1.5;
  color: $primary;
  margin-left: 6px;
}

.datePick {
  font-size: 1.4rem;
  font-weight: 600;
  color: $primary;
  text-decoration: underline;
  background: none;
  border: none;
}

.dateTitle,
.personNum,
.chooseNum,
.inputContainer,
.totalContainer,
.timeContainer {
  display: none;
}

.selectedDateContainer {
  font-size: 1.6rem;
  border: none;
  background-color: $white;
  display: flex;
  margin: 0px 24px 8px 24px;
}

@media screen and (min-width: 768px) {
  .dateTitle,
  .personNum,
  .totalTitle,
  .totalPrice {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 8px;
    height: auto;
  }

  .dateTitle,
  .datePick,
  .personNum,
  .inputContainer,
  .timeContainer {
    margin: 26px 24px 8px 24px;
  }

  .submitButton {
    margin: 26px 24px 8px 24px;
  }

  .chooseNum {
    /* Firefox에서 화살표 숨기기 */
    -moz-appearance: textfield;

    /* WebKit에서 화살표 숨기기 */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    display: flex;
    font-size: 1.4rem;
    text-align: center;
    width: 24px;
    border: none;
  }

  .datePick {
    font-size: 1.6rem;
    margin-top: 0;
    padding-bottom: 30px;
    cursor: pointer;
  }

  .per {
    font-size: 1.6rem;
  }

  .reservationSection {
    position: inherit;
    display: flex;
    width: 50%;
    height: 60%;
    border: 1px solid $gray_DDDDDD;
    border-radius: 12px;
    padding: 0;

    Button {
      width: auto;
    }
  }

  .submitButton {
    Button {
      width: 100%;
      height: 56px;
      margin-bottom: 40px;
    }
  }

  .price {
    font-size: 2.4rem;
  }

  .reservationContainer {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .inputContainer {
    display: flex;
    width: 120px;
    box-shadow:
      0px 0px 0px 1px #cdd0dc inset,
      0px 2px 4px 0px rgba(5, 16, 55, 0.15);
    border-radius: 6px;
    color: $gray_4B4B4B;
    margin-bottom: 20px;
    padding: 1px;
  }

  .inputSubtract,
  .inputAdd {
    border: none;
    width: 33.3%;
    margin: 0 auto;
    background-color: $white;
    cursor: pointer;
  }

  .inputSubtract {
    border-radius: 6px 0px 0px 6px;
  }

  .inputAdd {
    border-radius: 0px 6px 6px 0px;
  }

  .inputSubtract,
  .inputAdd {
    width: 4rem;
  }

  .priceWrapper {
    padding: 26px 24px 18px 24px;
    border-bottom: 1px solid $gray_DDDDDD;
  }

  .totalContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid $gray_DDDDDD;
    padding: 24px 24px 18px 24px;
  }
}

.calendarContainer {
  display: none;
}

@media screen and (min-width: 1200px) {
  .reservationSection {
    width: 384px;
    position: relative;
  }

  .timeContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .chooseTime {
    display: flex;
    gap: 12px;
  }

  .datePick {
    display: none;
  }

  .timeTitle {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
  }

  .chooseTime {
    Button {
      width: 107px;
      height: 46px;
    }
  }

  .submitButton {
    Button {
      width: 336px;
    }
  }

  .calendarContainer {
    display: flex;
    justify-content: center;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
}
