@import 'src/styles/_variables';

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: default;
  padding-left: 24px;
  padding-right: 24px;
}

.modalContent {
  background: white;
  border-radius: 8px;
  margin: 0 auto;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 700;
}

.alert {
  width: 327px;
  height: 220px;
  padding: 28px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1.6rem;

  .top {
    display: none;
  }

  @media (min-width: 769px){
    width: 530px;
    height: 250px;
  }
}

.confirm {
  padding: 24px;
  .top {
    display: none;
  }
}

.content {
  width: 327px;
  padding: 28px 24px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  
  font-size: 1.6rem;

  @media (min-width: 769px){
    width: 530px;
  }
}

.reservation {
  width: 327px;
  padding: 28px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  
  font-size: 1.6rem;

  @media (min-width: 769px){
    width: 530px;
  }
}
