@import 'src/styles/_variables';

.moveIcon {
  position: fixed;
  background-color: $white;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid $gray_A4A1AA;
  z-index: 999;
  right: 50px;
  bottom: 30px;
}
