@import 'src/styles/variables';

.myClassTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.myClassSubtitle {
  font-size: 3.2rem;
  font-weight: 700;
}

.button {
  height: 48px;
  width: 120px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.myClassAddBox {
  padding: 0 16px;
}
