@import 'src/styles/_variables';

.profileBox {
  display: flex;
  width: 384px;
  height: 432px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  background: var(--white-white_FFFFFF, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  @media (max-width: 375px) {
    display: none;
  }
}

#profileForm {
  position: relative;
}

#profileImg {
  display: none;
}

#pen {
  position: absolute;
  top: 110px;
  left: 110px;
  background-color: black;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#profileForm > :first-child {
  border-radius: 50%;
  background: #e3e5e8;
}

.list {
  width: 100%;
  color: var(--gray-gray_A1A1A1, #a1a1a1);
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
  display: flex;
  padding: 10px;
}

.list :nth-child(1) {
  margin-right: 10px;
}

.icon {
  opacity: 0.5;
}

#linkList {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.active {
  color: var(--black-black_000000, #000);
  opacity: 1;
  background-color: #d8e0dd; /* 연한 회색 배경 */
  border-radius: 8px; /* 모서리를 둥글게 */
  padding: 10px 0 10px 10px; /* 내부 여백 */
}
