@import 'src/styles/_variables';

.classCard {
  width: 168px;
  cursor: pointer;

  @media (min-width: 769px) {
    width: 221px;
  }

  @media (min-width: 1248px) {
    width: 283px;
  }
}

.classImage {
  width: 168px;
  height: 168px;
  position: relative;
  border-radius: 20px;

  @media (min-width: 769px) {
    width: 221px;
    height: 221px;
  }

  @media (min-width: 1248px) {
    width: 283px;
    height: 283px;
  }

  img {
    width: 100%;
    border-radius: 20px;
    position: relative;
  }
}

.classInfo {
  padding-top: 16px;
}

.rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  gap: 5px;
  margin-bottom: 10px;
  span {
    margin-top: 4px;
  }

  .reviewCount {
    color: $gray_A4A1AA;
  }
}

.title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;

  @media (min-width: 769px) {
    font-size: 2.4rem;
  }
}

.price {
  font-size: 2rem;
  font-weight: 700;

  .person {
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray_4B4B4B;
  }
  @media (min-width: 769px) {
    font-size: 2.8rem;
    .person {
      font-size: 2rem;
    }
  }
}
