@import 'src/styles/_variables';

.footer {
  background-color: $primary;
  height: 160px;
  color: $gray_79747E;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 32px 37.889px 66px 39px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 111px 108px 111px;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0px 104px 64px 104px;
  }
}

.info_container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap: 12px;
  width: 100%;
  padding: 32px 39px 32px 39px;

  & div {
    display: flex;
    gap: 30px;
  }
}

.icon_container {
  display: flex;
  gap: 12px;
}

.icon_img {
  cursor: pointer;
}
