@import '../../styles/variables';

.reservationCardContainer {
  display: flex;
  margin: 12px 15px 8px 16px;
  width: 344px;
  height: 128px;
  // justify-content: center;
  // align-items: center;
  flex-shrink: 0;
  background: $white;
  border-radius: 24px;

  @media (min-width: 769px) {
    width: 429px;
    height: 156px;
  }
  @media (min-width: 1200px) {
    width: 792px;
    height: 204px;
  }

  .mainBox {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    @media (min-width: 769px) {
      gap: 16px;
    }
    @media (min-width: 1200px) {
      gap: 24px;
    }

    .imageDiv {
      position: relative;
      width: 132px;
      height: 128px;
      overflow: 'hidden';
      @media (min-width: 769px) {
        width: 163px;
        height: 156px;
      }
      @media (min-width: 1200px) {
        width: 250px;
        height: 204px;
      }
    }

    .reservationDetail {
      padding: 9px 14px 9px 0px;

      @media (min-width: 769px) {
        width: 243px;
        height: 132px;
      }
      @media (min-width: 1200px) {
        width: 500px;
        height: 153px;
      }

      .detailMainArea {
        padding-bottom: 0px;
        @media (min-width: 769px) {
          padding-bottom: 10px;
        }
        @media (min-width: 1200px) {
          padding-bottom: 16px;
        }

        #revStatus {
          font-family: Pretendard;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          @media (min-width: 769px) {
            font-size: 1.6rem;
          }
          @media (min-width: 769px) {
            font-size: 1.6rem;
            padding-bottom: 8px;
          }
        }
        .pending {
          //pending 예약승인을 기다리는중
          color: $orange;
        }
        .confirmed {
          //     confirmed 예약완료
          color: $blue_vivid;
        }
        .declined {
          //     declined 예약거절
          color: $red;
        }
        .canceled,
        .completed {
          // canceled 예약취소
          // completed 체험완료
          color: $gray_79747E;
        }
        .title {
          color: $nomad-black;
          font-family: Pretendard;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          @media (min-width: 769px) {
            font-size: 1.8rem;
          }
          @media (min-width: 1200px) {
            font-size: 2rem;
            padding-bottom: 12px;
          }
        }
        .datebox {
          display: flex;
          color: $nomad-black;
          font-family: Pretendard;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          gap: 2px;
          @media (min-width: 769px) {
            font-size: 1.4rem;
            gap: 4px;
          }
          @media (min-width: 1200px) {
            font-size: 1.8rem;
            gap: 8px;
          }

          .headCount {
            width: 47px;
            flex-shrink: 0;
          }
        }
      }

      .priceAndButtonArea {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      .price {
        color: $black_171717;
        text-align: right;
        font-family: Pretendard;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        left: 0;
        @media (min-width: 769px) {
          font-size: 2rem;
        }
        @media (min-width: 1200px) {
          font-size: 2.4rem;
        }
      }

      .buttonDiv {
        width: 80px;
        height: 32px;
        justify-content: center;
        align-items: center;
      }

      .priceAndButtonArea {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 49px;

        .price {
          color: $black_171717;
          text-align: right;
          font-family: Pretendard;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          @media (min-width: 769px) {
            font-size: 2rem;
          }
          @media (min-width: 1200px) {
            font-size: 2.4rem;
          }
        }
        .buttonDiv {
          width: 80px;
          height: 32px;
          justify-content: center;
          align-items: center;
          @media (min-width: 769px) {
            width: 112px;
            height: 40px;
          }
          @media (min-width: 1200px) {
            width: 143px;
            height: 40px;
          }
        }
      }
    }
  }
}

// h3 {
//     font-size: 1.4rem;
//     font-weight: 700;

//     @media (min-width : 769px){
//
//     }
//     @media (min-width: 1248px){
//
//     }
//   }
// @media (min-width: 769px) {
// }
// @media (min-width: 1248px) {
// }
