@import 'src/styles/_variables';

.classCard {
  border-radius: 20px;
  width: 186px;
  height: 186px;
  position: relative;
  cursor: pointer;

  @media (min-width: 769px) {
    width: 384px;
    height: 384px;
  }
}

.classImage {
  width: 186px;
  height: 186px;
  position: relative;
  border-radius: 20px;

  img {
    width: 100%;
    border-radius: 20px;
    position: relative;
  }

  @media (min-width: 769px) {
    width: 384px;
    height: 384px;
  }
}

.rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 5px;
  margin-bottom: 6px;
}

.title {
  font-family: pretendard;
  margin-bottom: 6px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  @media (min-width: 769px) {
    font-size: 3rem;
  }
}

.price {
  font-size: 1.6rem;
  font-weight: 700;

  .person {
    font-size: 1.4rem;
    font-weight: 400;
    color: #a1a1a1;
  }

  @media (min-width: 769px) {
    font-size: 2rem;
  }
}

.overlay {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  .classInfo {
    color: $white;
    padding: 12px 20px;
    position: absolute;
    bottom: 12px;

    @media (min-width: 769px) {
      padding: 30px 20px;
      bottom: 0;
    }
  }
}
