@import 'src/styles/_variables';

.mapContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  :nth-child(1) {
    border-radius: 16px;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.4rem;
  opacity: 0.75;
  margin-top: 15px;
}
