@import '../../../styles/variables';

.titlaArea {
  width: 344px;
  height: 48px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: Pretendard;
  font-weight: 700;
  font-size: 3.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @media (min-width: 769px) {
    width: 429px;
    height: 48px;
  }
  @media (min-width: 1200px) {
    width: 800px;
    height: 48px;
  }
  // marginLeft: '16px',
  // fontFamily: 'Pretendard',
  // fontWeight: '700',
  // fontSize: '3.2rem',
  // display: 'flex',
  // justifyContent: 'space-between',
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    // display: 'flex',
    // justifyContent: 'center',
    // alignItems: 'center',
  }
  .buttonArea {
    width: 120px;
    height: 48px;
    // @media screen and (max-width: 1200px) {
    //   visibility: hidden;
    // }
  }
}

// .buttonArea {
//   width: 120px;
//   height: 48px;
//   // @media screen and (max-width: 1200px) {
//   //   visibility: hidden;
//   // }
// }
// .titlaArea {
//   width: 344px;
//   height: 48px;
//   margin-left: 16px;
//   font-family: Pretendard;
//   font-weight: 700;
//   font-size: 3.2rem;
//   display: flex;
//   justify-content: space-between;

//   @media (min-width: 769px) {
//     width: 429px;
//     height: 48px;
//   }
//   @media (min-width: 1200px) {
//     width: 800px;
//     height: 48px;
//   }
